.mainContent {
    width: 100%;
    height: auto; /* Changez ceci à 'auto' pour permettre la hauteur d'ajuster selon le contenu */
    background-color: #202020;
    display: flex;
    flex-direction: column; /* Aligne les enfants en colonne */
}

.main {
    width: 80%;
    margin: 5% 0 15% 10%; /* haut droite bas gauche */
    color: white;
    display: flex; /* Utiliser flex pour aligner le contenu */
    flex-direction: column; /* Enfants en colonne */
    justify-content: center; /* Centre le contenu verticalement */
}

.main-content {
    display: flex; /* Utiliser flex pour aligner l'image et le texte */
    align-items: center; /* Centre verticalement l'image et le texte */
    justify-content: flex-start; /* Ajuste l'alignement horizontalement pour rester à gauche */
    font-size: 20px;
    width: 100%; /* Prendre toute la largeur disponible */
}

.home-container {
    width: 25%; /* Ajustez cette valeur selon vos besoins */
    max-width: 100%; /* Rendre l'image responsive */
    display: flex; /* Utiliser flex pour centrer le contenu */
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center; /* Centre l'image verticalement */
    flex-direction: column;
}

.home-container img {
    max-width: 100%; /* L'image prendra au maximum 100% de la largeur de son conteneur */
    height: auto; /* Maintenir le ratio d'aspect de l'image */
    border-radius: 10px;
}
