.projects{
    width: 100%;
    text-align: center;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.project-list-item {
    width: 365px;
    padding-bottom: 100px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #373737;
}

.project-list-item:hover {
    transform: scale(1.05);
}

.project-list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.project-list-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.project-name {
    font-size: 1.2em;
    margin: 15px 0;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.project-list-content a {
    text-decoration: none;
    color: #1e90ff;
    font-weight: bold;
    margin-top: auto;
    transition: color 0.2s ease;
}

.project-skills {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
}

.skill-item {
    padding: 5px 10px;
    background-color: #555353;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #cfcfcf;
    border-radius: 5px;
    font-size: 15px;
}

