.home-texte {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 60%;
    text-align: left;
}

.home-texte p,
.home-texte h1 {
    margin: 0;
}

.home-texte p {
    margin-bottom: 5px;
}

.home-texte h1 {
    margin-bottom: 5px;
}
