.select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
}

select {
    color: #ffffff;
    background-color: #858585;
    margin-top: 10px;
    width: 70%;
    max-width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.selected-skill-container {
    background-color: #555353;
    border-radius: 5px;
    padding: 10px 10px; /* haut droite bas gauche */
    margin: 2px 4px; /* Réduit l'espace entre les compétences */
    display: flex;
    align-items: center;
}

.selected-skill {
    color: white;
    font-size: 15px;
    line-height: 1;
    margin: 0 5px 0 0;
}

.close-icon {
    width: 12px;
    cursor: pointer;
    margin-left: auto;
}
