.project-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.project-list-content a {
    text-decoration: none;
    color: #1e90ff;
    font-weight: bold;
    margin-top: auto;
    transition: color 0.2s ease;
}
.projects-filter {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filter-container {
    background-color: #373737;
    border-radius: 10px;
    width: 20%;
}

.project-list-container {
    flex: 1;
    display: flex;
    justify-content: center;
}
