.banner-icon {
    display: flex;
    width: auto;
    margin : 0;
    padding : 5px;
    border-radius: 15px;
    list-style: none;
    justify-content: center;
    background-color: #2b2b2b;
    position: sticky;
    z-index: 10;
}
.banner-icon-image {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
    cursor: pointer;

}

.banner-icon li {
    margin-right: 15px ;
    margin-left: 15px ;
}

.banner-icon-image:hover {
    transform: scale(1.3);
}